table, th, td {
    border: 1px solid black;
  }
  
  table{
  width: 80%;
  }
  
  th,td{
  width: 25%;
  text-align: center;
  }
  
  .tabla, .autor{
  position:relative;
  left: 4%;
  }
  
  .grid{
  display:grid;
  grid-template-columns:50% 50%;
  }
  
  button{
  background-color: white;
  color: black;
  border: 2px solid #F9DFC2;
  border-radius: 20px
  }
  
  button:hover{
  background-color: #F9DFC2;
  color: black;
  border-radius: 20px
  }
  
  body{
  font-family: 'Gloria Hallelujah', cursive;
  }
  
  .autor{
  width:30%;
  display:flex;
  justify-content:space-evenly
  }
  
  .titulo{
  position:relative;
  left: 4%;
  }
  
  span{
  font-weight:bold;
  }